* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    height: 17em;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
  }
  main {
    display: flex;
  
    background-color: #f5f7ff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
    /* border: 2px solid #fff; */
    /* text-align: center; */
    justify-content: center;
    max-width: 40rem;
    border-radius: 2rem;
  }
  .img-music {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  h1 {
    color: #1f2f56;
    font-size: 2rem;
    /* margin-left: 2rem; */
    text-align: center;
  }
  .second {
    display: flex;
    background-color: #fff;
    margin: 2rem;
    padding: 1.5rem;
    max-width: 40rem;
  }
  .text-first {
    font-size: 1.6rem;
    margin: 1rem 2rem;
    text-align: center;
  }
  .icon-music {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: bottom;
    color: hsl(224, 23%, 55%);
    /* padding-top: 2rem; */
  }
  .text-annual {
    color: #1f2f56;
    font-weight: 700;
    margin-left: 2rem;
  }
  .price {
    color: #7280a7;
    margin-left: 2rem;
  }
  .change {
    color: #7280a7;
    margin-left: 8rem;
  }
  .button-payment {
    background-color: #3829e0;
    color: #fff;
    height: 3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.4rem;
  }
  .button-cancel {
    color: #7280a7;
    text-decoration: none;
    margin-left: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    justify-content: center;
  }
  .attribution {
    margin-top: 2rem;
  }
  
  @media (max-width: 375px) {
    main {
      max-width: 28rem;
    }
  }